  
* {
  box-sizing: border-box;
}

.grid-container {
  width: 90%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.btn button {
  border-style: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  background: #30a7d7;
  color: #fff;
  font-size: 1em;
  outline: none;
}

/* .btn button:hover {
  transform: scale(1.4) !important;
}
 */

.btn button:hover{
  transform: scale(1.13);
  transition: all 0.2s ease-in-out !important;
  cursor: pointer;
}

